@font-face {
  font-family: minerva-modern;
  src: url(https://use.typekit.net/af/2d15e1/00000000000000003b9afd25/27/l?subset_id=2&fvd=n4&v=3);
}

body{
    margin: 0%;
    padding: 0%;
    font-family: minerva-modern;
}

*{
    padding: 0%;
    margin: 0%;
}

header{
    width: 100%;
    height: 34.5rem;
    background-color: #3d4435;
    color: white;
}

.nav-bar{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-row: auto;
    padding: 3rem 6rem 3rem 6rem;
    grid-row: 0;

}

.nav-title{
    grid-column: 2;
    display: flex;    
    justify-content: center;
    font-weight: 100;
    font-size: 2rem;
    color: rgb(211, 211, 211);
}

.nav-anchors{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
}

.nav-anchors li{
    margin: 0rem 1rem 0rem 1rem;
    list-style: none;
    display: flex;    
    color: rgb(211, 211, 211);
    font-size: 1.2rem;
}

.header-buttons{
    grid-column: 3;
    grid-row: 1/3;
    display: flex;
    justify-content: flex-start;
}

.nav-button{
    width: 10rem;
    height: 3.5rem;
    font-size: 1rem;    
    border-style: none;
}

.work-with{
    background-color: rgb(211, 211, 211);
    border: 0%;
}

.login{
    background-color: #3d4435;
    color: white;
    border: 0%;
}

.upper-description{
    justify-self: center;
    padding: 6.2rem 0rem 2.5rem 0rem;
    color: rgb(211, 211, 211);
    font-size: 1.2rem;
    font-weight: 400;
}

.description{
    width: 40rem;
    justify-self: center;
    color: rgb(211, 211, 211);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.nutricionist-image{
    width: 100%;
    margin: 0%;
    padding: 0%;
}

main{
    background-color: #3d4435;
    color: rgb(211, 211, 211);
    margin-top: -1rem;
    padding: 0rem 14rem 0rem 14rem;
}

.work-info{
    font-size: 2.8rem;
    font-weight: 400;
    justify-self: center;
    padding-top: 10rem;
}

.business-description{
    padding: 3rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8rem;
}

.business-subtitle{
    font-size: 2rem;
    font-weight: 100;
    padding-top: 3.5rem;
    text-align: center;
    padding-bottom: 2rem;
}

.business-text{
    text-align: center;
    font-weight: bolder;
}

.business-read-more{
    color: rgb(211, 211, 211);
    font-weight: bold;
    display: flex;
    justify-self:  center;
    padding-top: 2rem;
}

.business{
    padding-bottom: 6rem;
    border-bottom: 2px solid rgb(211, 211, 211);
}
